body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    z-index: 2;
}

header img.head_aicon {
    height: 40px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    text-align: right;
    z-index: 3;
    position: relative;
    top: -30px;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #ff9800;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.home {
    position: relative;
    color: white;
    text-align: center;
}

.home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home img.aicon {
    width: 100px;
    margin-bottom: 20px;
}

.home p {
    font-size: 24px;
    font-weight: bold;
}

.slider {
    margin: 20px auto;
    width: 80%;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ff9800;
}