body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(ink-7294678_1280.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

header {
    position: fixed;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    z-index: 2;
}

header img.head_aicon {
    height: 40px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}
p{
    padding: 30px;
}
@media (min-width:769px) {
    header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: right;
        text-align: right;
        z-index: 3;
        position: relative;
        top: -30px;
    }

    header ul li {
        margin-left: 20px;
    }

    header ul li a:hover {
        color: #ff9800;
    }

    .menu {
        position: absolute;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    p{
        max-width: 60%;
    }
    .position-p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 769px) {
    header {
        background-color: transparent;
    }

    .menu {
        top: 20px;
        right: 0;
        cursor: pointer;
    }

    strong {
        position: fixed;
        color: #FFFFFF;
        top: 55px;
        right: 8px;
        width: 44px;
        height: 12px;
        z-index: 1001;
        font: normal normal bold 12px/1px BIZ UDPGothic;
    }

    .square-menu {
        position: fixed;
        top: 8px;
        right: 0px;
        width: 67px;
        height: 65px;
        border-radius: 12px 0px 0px 12px;
        background: #1030ff;
        z-index: 999;
    }

    .hamburger {
        display: block;
        top: 30px;
        right: 10px;
        width: 45px;
        height: 5px;
        background-color: #FFFFFF;
        position: fixed;
        transition: background-color 0.3s ease;
        z-index: 1000;
    }

    .hamburger:before,
    .hamburger:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        position: absolute;
        transition: transform 0.3s ease;
    }

    .hamburger:before {
        top: -10px;
    }

    .hamburger:after {
        bottom: -10px;
    }

    #menu-toggle:checked + .menu .hamburger {
        background-color: transparent;
    }

    #menu-toggle:checked + .menu .hamburger:before {
        transform: translateY(10px) rotate(45deg);
    }

    #menu-toggle:checked + .menu .hamburger:after {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menu-content {
        position: fixed;
        z-index: 998;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #1030ff;
        transition: right 0.3s ease;
        overflow-y: auto;
        box-sizing: border-box;
    }

    input[type="checkbox"]:checked ~ .menu-content {
        right: 0;
    }

    .menu-content nav {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .menu-content ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        color: #FFFFFF;
    }

    .menu-content ul li {
        margin-bottom: 20px;
    }

    .menu-content ul li a {
        color: #FFFFFF;
        font-size: 20px;
    }
}

section {
    padding: 60px 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.section.fade-in {
    opacity: 1;
}

.home {
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.home img.aicon {
    position: relative;
    width: 50vw;
    animation: fadeIn 2s ease-in-out;
}

.home p {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
}

.aicon_position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.aicon_back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.AI {
    display: block;
    width: 100%;
}

.AI h1 {
    display: inline-block;
    background-color: #333;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 28px;
    margin-bottom: 40px;
}

.box {
    position: absolute;
    display: block;
    width: 80%;
    height: 70vh;
    background-color: #333;
    z-index: -3;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ff9800;
}

.Maya h1 {
    display: inline-block;
    background-color: #333;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 28px;
    margin-bottom: 40px;
}
.Maya p{
    margin-top: 5vh;
    display: block;
    background-color: #FFFFFF;
    font-size: 24px;
}
.Maya video {
    width: 100%;
}

#about h1 {
    display: inline-block;
    background-color: #333;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 28px;
    margin-bottom: 40px;
}

#about img {
    width: 50%;
}
#about p{
    margin-top: 5vh;
    display: block;
    background-color: #FFFFFF;
    font-size: 24px;
}
.AI p{
    display: block;
    background-color: #FFFFFF;
    font-size: 24px;
}
.h1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.p-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
}